@import "../base";
// header

.gradient-bg {
  background: $Gradient-Supersoft;

  header {
    .mobile-burger {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 1;
      .language-number {
        background: rgba(245, 245, 250, 0.2);
        a {
          color: $Basic-White;
        }
      }
      .container {
        .header {
          .burger-container {
            .burger {
              color: $Basic-White;
            }
          }
          .logo-header {
            &:after {
              content: "";
            }
          }
        }
      }
    }
  }

  .section-1 {
    min-height: 100vh;
    padding-top: 94.5px;
    position: relative;

    .flex {
      flex-direction: column;
      text-align: center;
      align-items: center;
      .h-logo {
        position: absolute;
        top: -50px;
        width: 70vw;
        height: 100%;
      }

      h2 {
        position: absolute;
        color: $Basic-White;
        font-size: 38px;
        font-weight: 700;
        line-height: 46.32px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
      }
    }
  }
}

#v-pills-tab {
  padding-right: 60px;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
}

#v-pills-home-tab,
#v-pills-profile-tab,
#v-pills-disabled-tab,
#v-pills-messages-tab {
  font-family: "Montserrat", sans-serif;
  color: $Grey-Text;
  background: none;
  font-size: 38px;
  font-weight: 700;
  line-height: 46.32px;
  text-align: right;
  width: 400px;
  padding: 15px 0 15px;

  &.active {
    color: $Accent;
  }
}

// #v-pills-tabContent {
//   padding: 43px 0 0 43px;
//   width: 100%;

//   h2 {
//     font-family: "Montserrat", sans-serif;
//     color: $Basic-White;
//     padding-bottom: 23px;
//     font-size: 30px;
//     font-weight: 700;
//     line-height: 36.57px;
//   }

//   p {
//     color: $Basic-White;

//     font-family: Montserrat;
//     font-size: 19px;
//     font-weight: 400;
//     line-height: 30px;
//   }
// }

// // @media (min-width: 1024px)

// @media (min-width: 1024px) {
//   .desktop {
//     .flex {
//       .logo-header {
//         &:after {
//           content: "";
//         }

//         &:before {
//           content: "";
//         }
//       }
//     }
//   }
// }

// // @media (min-width: 1440px)

// @media (min-width: 1440px) {
//   #section-2 {
//     .container {
//       padding: 60px 120px;
//     }
//   }
// }
