@import "../base";

:root {
  a {
    text-decoration: none;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  h1,
  h3,
  h4,
  h6 {
    margin-bottom: 0rem;
  }
}

body,
html {
  overflow-x: hidden;
}

.container,
.container-sm {
  max-width: 100%;
}

.desktop {
  padding-top: 12px;
}
.desktop .flex .rc {
  padding-top: 36px;
}

// header

.gradient-bg {
  background: $Gradient-Supersoft;
  border-radius: 0 0 12px 12px;

  header {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    .mobile-burger {
      .language-number {
        background: rgba(245, 245, 250, 0.2);
        a {
          color: $Basic-White;
        }
      }
      .container {
        .header {
          .burger-container {
            .burger {
              color: $Basic-White;
            }
          }
          .logo-header {
            &:after {
              content: "";
            }
          }
        }
      }
    }
  }

  .section-1 {
    min-height: 89.5vh;
    padding-top: 94.5px;
    position: relative;
    padding-bottom: 60px;

    .flex {
      flex-direction: column;
      align-items: center;
      .h-logo {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100vh;
      }

      h2 {
        position: absolute;
        color: $Basic-White;
        font-size: 38px;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        padding: 0 10px;
      }
    }
  }

  .button-scroll {
    color: $Basic-White;
    position: absolute;
    bottom: 0;
    padding: 32px;
    &:hover {
      color: $Accent;
    }
  }
}

#section-2 .container {
  padding: 0 30px;
}

#display-bloc {
  display: block !important;
}

#v-pills-tab {
  gap: 30px;
  flex-direction: row !important;
  display: flex !important;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  margin-right: 0 !important;
  padding: 0 0 0 30px;
}

#v-pills-home-tab,
#v-pills-profile-tab,
#v-pills-disabled-tab,
#v-pills-messages-tab {
  flex-shrink: 0;
  color: $Grey-Text;
  background: none;
  font-size: 30px;
  font-weight: 700;
  line-height: 46.32px;
  text-align: right;
  padding: 26px 0 24px;

  &.active {
    color: $Accent;
  }
  &:hover {
    color: $Accent;
  }
}

#v-pills-tabContent {
  padding-top: 27px;
  border-top: 4px solid rgba(255, 255, 255, 0.3);

  h2 {
    color: $Basic-White;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 26.57px;
  }

  p {
    color: $Basic-White;
    font-size: 19px;
    line-height: 30px;
    padding-bottom: 30px;
  }
}

.section-3 {
  a {
    align-items: center;
  }

  h1 {
    padding: 10px 0 30px;
  }
  .services-content {
    display: grid;
    gap: 30px;
    padding-bottom: 58px;

    p {
      color: $Basic-White;
    }
    svg {
      padding: 14px;
      margin-bottom: 30px;
      background: $Basic-White;
      border-radius: 24px;
    }

    h3 {
      color: $Active-Regular;
      font-size: 22px;
      line-height: 26.82px;
      padding-bottom: 16px;
      &:hover {
        color: $Accent;
      }
    }
    .widht {
      max-width: 250px;
    }
  }
}

.border1 {
  height: 10px;
  margin: 0 20px;
  background: rgba(202, 202, 219, 1);
  border-radius: 0 0 12px 12px;
}

.border2 {
  height: 10px;
  margin: 0 40px;
  background: rgba(231, 231, 242, 1);
  border-radius: 0 0 12px 12px;
}

.team {
  padding: 30px 0 77px;
  .team-content {
    padding: 30px;
    background: $Grey-Bg;
    a {
      align-items: center;
      padding-bottom: 5px;
    }
    h1 {
      line-height: 37px;
      padding-bottom: 30px;
    }
    h4 {
      color: $Grey-Text;
      line-height: 20.5px;
      padding-bottom: 6px;
    }
    p {
      color: $Grey-Text;

      font-size: 14px;

      line-height: 22px;
    }
  }
}

.slick-dots li button:before {
  font-size: 19px;
  line-height: 27px;
  color: rgb(36, 163, 255) !important;
}

.slick-list {
  border-radius: 12px;
}

.slick-dots {
  bottom: -47px;
}

.slider-item {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.brand {
  h3 {
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 30px;
    text-transform: uppercase;
  }
  .block {
    width: 100%;
    height: 120px;
    display: grid;
    justify-content: center;
    align-items: center;
    background: rgba(28, 66, 128, 1);
  }

  .display-none {
    display: none;
  }

  .hillel {
    background: rgba(28, 66, 128, 1);
  }

  .wannabiz {
    background: rgba(20, 54, 70, 1);
  }
  .tapgerine {
    background: linear-gradient(0deg, #f48b30, #f48b30),
      linear-gradient(0deg, #f48b30, #f48b30);
  }

  .dlook {
    background: rgba(158, 77, 195, 1);
  }

  .orangear {
    background: rgba(253, 147, 57, 1);
  }

  .adtelligent {
    background: rgba(226, 226, 228, 1);
  }

  .clickky {
    background: rgba(199, 28, 54, 1);
  }

  .eco-leasing {
    background: rgba(220, 243, 249, 1);
  }

  .ingratek {
    background: rgba(234, 234, 234, 1);
  }

  .city-par {
    background: rgba(40, 34, 64, 1);
  }

  .artprint {
    background: rgba(29, 69, 104, 1);
  }

  .ultimatecard {
    background: rgba(0, 0, 0, 1);
  }
}

#publications {
  background: $Grey-Bg;
  padding: 30px 0 30px;

  a {
    align-items: center;
  }

  h1 {
    padding: 5px 0 30px;
  }

  .publications {
    display: grid;
    gap: 30px;

    .content {
      background: $Basic-White;
      border-radius: 0 0 8px 8px;

      img {
        border-radius: 8px 8px 0 0;
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      .text {
        margin: 31px;
        h4 {
          color: $Active-Regular;
          padding-bottom: 17px;
        }

        h6 {
          color: $Grey-Text;
          padding-bottom: 14px;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 1px;
        }

        p {
          padding-top: 15px;
          border-top: 4px solid $Grey-Separator;

          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
        }
      }
    }
  }
}

// @media (min-width: 768px)

@media (min-width: 768px) {
  .container {
    padding: 0 60px;
  }

  .gradient-bg {
    .section-1 {
      min-height: 100vh;
    }
  }

  #section-2 .container {
    padding: 0 60px;
  }

  #v-pills-tab {
    padding: 0 0 0 60px;
  }

  #v-pills-home-tab,
  #v-pills-profile-tab,
  #v-pills-disabled-tab,
  #v-pills-messages-tab {
    font-size: 38px;
    padding: 61px 0 60px;
  }

  #v-pills-tabContent {
    padding-top: 65px;
  }

  #v-pills-tabContent h2 {
    font-size: 30px;
    padding-bottom: 27px;
  }

  #v-pills-tabContent p {
    padding-bottom: 60px;
  }

  .section-3 h1 {
    padding: 10px 0 60px;
  }

  .section-3 .services-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  .team {
    padding: 61px 0 77px;
  }
  .team .team-content h1 {
    line-height: 46px;
  }
  .brand {
    .content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .display-none {
        display: flex;
      }
    }
  }

  #publications {
    h1 {
      padding: 9px 0 30px;
    }
    .publications {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .content:nth-child(3) {
      grid-column: span 2;
    }
  }
}

// @media (min-width: 1024px)

@media (min-width: 1024px) {
  header {
    .desktop {
      a {
        color: $Basic-White;
        text-decoration: none;
      }
      .flex {
        .rc {
          .conct {
            p {
              color: $Basic-White;
            }
            .language {
              a {
                color: $Basic-White;
                text-decoration: none;
              }
            }
            .fb_header {
              a {
                color: $Basic-White;
              }
              img,
              svg {
                vertical-align: inherit;
              }
            }
            p {
              margin-top: 0;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .desktop {
    .flex {
      .logo-header {
        &:after {
          content: "";
        }

        &:before {
          content: "";
        }
      }
    }
  }

  .gradient-bg .section-1 {
    min-height: 56vh;
  }

  #display-bloc {
    display: flex !important;
    padding-bottom: 58px;
  }

  #v-pills-tab {
    display: block !important;
    width: 76%;
    padding-top: 62px;
  }

  #v-pills-home-tab,
  #v-pills-profile-tab,
  #v-pills-disabled-tab,
  #v-pills-messages-tab {
    width: 101%;
    text-align: -webkit-right;
    padding: 15px 0;
  }

  #v-pills-tabContent {
    border-top: none;
    border-left: 4px solid rgba(255, 255, 255, 0.3);
    margin-top: 61px;
    padding-top: 13px;
    padding-left: 62px;
  }

  #v-pills-tabContent h2 {
    padding-bottom: 25px;
    line-height: 35px;
  }

  #v-pills-tabContent p {
    padding-bottom: 7px;
  }

  .section-3 .services-content {
    grid-template-columns: repeat(3, 1fr);
  }

  .team {
    .slider-item {
      display: flex;
    }
    .slider-item img {
      width: 44%;
      height: auto;
    }
  }

  .brand .content {
    grid-template-columns: repeat(4, 1fr);
  }

  #publications .content:nth-child(3) {
    grid-column: auto;
  }

  #publications .publications {
    grid-template-columns: repeat(3, 1fr);
  }

  #publications {
    padding: 30px 0 32px;
  }
}

// @media (min-width: 1440px)

@media (min-width: 1440px) {
  .gradient-bg .section-1 {
    min-height: 89vh;
  }

  #v-pills-tab {
    width: 67%;
    padding-top: 59px;
  }

  #section-2 .container {
    padding: 0 30px;
  }

  #v-pills-tab {
    padding-right: 12px;
  }

  #v-pills-home-tab,
  #v-pills-profile-tab,
  #v-pills-disabled-tab,
  #v-pills-messages-tab {
    width: 96%;
  }

  #v-pills-tabContent {
    padding-top: 42px;
    width: 80%;
  }

  #section-2 .container {
    padding: 0 27px;
  }

  #v-pills-tabContent h2 {
    padding-bottom: 23px;
  }

  .slider-item img {
    max-height: 344px;
    min-width: 400px;
  }

  #publications .publications .content img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 200px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1720px;
  }

  .gradient-bg .section-1 {
    min-height: 93vh;
  }

  #v-pills-tab {
    width: 54.5%;
    padding-top: 55px;
  }

  #v-pills-tabContent {
    padding-top: 69px;
    padding-bottom: 60px;
  }
  .slider-item img {
    max-height: 298px;
  }

  .brand .content {
    padding-bottom: 60px;
  }
}
