@import "../base";

// header

.header {
  .logo-header {
    &:before {
      content: "publications";
    }
  }
}

main {
  height: 300px;
}

@media (min-width: 1024px) {
  .desktop {
    .flex {
      .logo-header {
        &:before {
          content: "publications";
        }
      }
    }
  }
}